include ../_ui/heading/heading

mixin media
  section.media.container
    .media__wrapper.wrapper
      +heading('СМИ о нас', 'media__heading')
      .media__grid
        .media__item
          img.media__item-image(src="img/inhtml/echo.svg", alt="")
        .media__item
          img.media__item-image(src="img/inhtml/edexpert.svg", alt="")
        .media__item
          img.media__item-image(src="img/inhtml/director.svg", alt="")
        .media__item
        .media__item
        .media__item