include ../_ui/heading/heading
include ../jury-item/jury-item

mixin jury
  section.jury.container
    .jury__wrapper.wrapper
      +heading('Жюри', 'jury__heading')
      .jury__grid
        +jury-item(true, 'jury-1.jpg', 'Председатель', 'Киселева Наталья Александровна', 'Заместитель руководителя Департамента образования и науки города Москвы')
        +jury-item(false, 'jury-2.jpg', 'Жюри', 'Банникова Маргарита Викторовна', 'Заместитель министра образования Нижегородской области')
        +jury-item(false, 'jury-3.jpg', 'Жюри', 'Голубицкий Алексей Викторович', 'Директор "Школа будущего" п.&nbsp;Большое Исаково, Калининградская область')
        +jury-item(false, 'jury-4.jpg', 'Жюри', 'Гонышева Ирина Витальевна', 'Директор МБОУ «Школа имени Гонышева А.И.» (Оренбургская область)')
        +jury-item(false, 'jury-2.jpg', 'Жюри', 'Заруба Артур ', 'Учитель музыки частной школы «Ломоносовская школа» абсолютный победитель конкурса «Учитель года России – 1992»')
        +jury-item(false, 'jury-5.jpg', 'Жюри', 'Ильина Светлана Сергеевна ', 'Директор гимназии N3 г. Самара')
        +jury-item(false, 'jury-6.jpg', 'Жюри', 'Исаева Инна Владиславовна ', 'Директор гимназии №5 г.&nbsp;Чебоксары, призер Всероссийского конкурса “Директор школы”')
        +jury-item(false, 'jury-7.jpg', 'Жюри', 'Кирпичёва Елена Алексеевна ', 'Директор МОУ “Средняя школа №52” города Ярославля, Почётный работник общего образования Российской Федерации')
        +jury-item(false, 'jury-8.jpg', 'Жюри', 'Кокорин Алексей ', 'Руководитель Чеховского отделения Торгово-промышленной палаты, многодетный папа')
        +jury-item(false, 'jury-9.jpg', 'Жюри', 'Крюкова Алена ', 'Директор МБУ ИМЦ «Екатеринбургский Дом Учителя»')
        +jury-item(false, 'jury-10.jpg', 'Жюри', 'Лукичева Лариса Валерьевна ', 'Лауреат премии Фонда Сороса среди учителей средних общеобразовательных учреждений (1994, 1996, 1997, 1998)')
        +jury-item(false, 'jury-2.jpg', 'Жюри', 'Наумов Николай ', 'Актер кино, многодетный папа')
        +jury-item(false, 'jury-2.jpg', 'Жюри', 'Раитина Татьяна  ', 'Партнёр Атлас Коммуникации, основатель Всероссийской школы педагогов и директоров.')
        +jury-item(false, 'jury-11.jpg', 'Жюри', 'Рожкова Лариса Евгеньевна ', 'Директор Специализированного учебно-научного центра Уральского федерального университета им. Ельцина')
        +jury-item(false, 'jury-12.jpg', 'Жюри', 'Сатаева Ирина Геннадьевна ', 'Директор Новинской средней школы Нижегородская область')
        +jury-item(false, 'jury-13.jpg', 'Жюри', 'Седов Антон  ', 'Учитель русского языка и&nbsp;литературы Ломоносовской школы, г. Москва')
        +jury-item(false, 'jury-14.jpg', 'Жюри', 'Склюева Оксана Ивановна ', 'Директор МАОУ «Многопрофильная школа «Приоритет» г. Перми, призер Всероссийского конкурса “Директор школы”')
        +jury-item(false, 'jury-15.jpg', 'Жюри', 'Старунова Ольга', 'Учитель информатики Школы на&nbsp;Юго-Востоке имени Маршала В.И. Чуйкова, Москва;')
        +jury-item(false, 'jury-16.jpg', 'Жюри', 'Старунов Геннадий  ', 'Учитель ОБЖ Школы на&nbsp;Юго-Востоке имени Маршала В.И. Чуйкова, Москва')
        +jury-item-become