mixin header
  header.header.container
    .header__wrapper.wrapper
      .header__logo
      .header__burger.js-burger
        div
        div
        div
        div
      .header__menu
        nav.header__nav
          a.header__nav-item.js-anchor(href="javascript:void(0)", data-target="steps") Как победить
          a.header__nav-item.js-anchor(href="javascript:void(0)", data-target="win") Призы
          a.header__nav-item.js-anchor(href="javascript:void(0)", data-target="enroll") Бонусы
          a.header__nav-item.js-anchor(href="javascript:void(0)", data-target="demands") Требования
          a.header__nav-item.js-anchor(href="javascript:void(0)", data-target="jury") Жюри
          a.header__nav-item.js-anchor(href="javascript:void(0)", data-target="organizators") Организаторы
        .header__socials
          a.header__socials-item(href="//facebook.com", target="_blank", rel="nofollow noreferrer", data-social="fb")
          a.header__socials-item(href="//vk.com", target="_blank", rel="nofollow norefferer", data-social="vk")
          a.header__socials-item(href="//instagram.com", target="_blank", rel="nofollow norefferer", data-social="inst")
          a.header__socials-item(href="//ok.ru", target="_blank", rel="nofollow norefferer", data-social="ok")
          a.header__socials-item(href="//telegram.org", target="_blank", rel="nofollow norefferer", data-social="tg")